
<form asp-action="BillResult">
    <input type="text" name="amount" placeholder="Nhập số lượng">
    <input type="text" name="price" placeholder="Nhập đơn giá">
    <input type="submit" value="Tính đơn hàng">
    
</form>
<h2>@ViewBag.Message</h2>