<form asp-action="SubjectResult">
    <input type="text" name="a" placeholder="Nhập điểm a">
    <input type="text" name="b" placeholder="Nhập điểm b">
    <input type="text" name="c" placeholder="Nhập điểm c">
    <input type="submit" value="Tính điểm">
    
</form>
<h2>@ViewBag.Message</h2>